@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to our Laptop Store, where cutting-edge technology meets your computing needs. We are dedicated to providing a wide range of high-quality laptops to cater to every requirement.</p>

    <p>Our Mission:</p>
    <p>At Laptop Store, our mission is to empower our customers with the latest advancements in technology. We aim to offer a seamless shopping experience, providing not just products but solutions that enhance your digital lifestyle.</p>

    <p>Why Choose Us?</p>
    <ul>
        <li><strong>Quality Selection:</strong> Explore a curated collection of laptops from top brands known for their performance and reliability.</li>
        <li><strong>Expert Guidance:</strong> Our knowledgeable team is here to assist you in finding the perfect laptop that aligns with your needs and preferences.</li>
        <li><strong>Customer Satisfaction:</strong> Your satisfaction is our priority. We go the extra mile to ensure you are delighted with your purchase.</li>
        <li><strong>Stay Updated:</strong> Discover the latest trends and innovations in the world of laptops with our regularly updated inventory.</li>
    </ul>

    <p>Whether you're a student, professional, or gaming enthusiast, our Laptop Store is your go-to destination for top-tier laptops. Explore our online catalog and embark on a journey of digital excellence.</p>

    <p>Thank you for choosing us as your trusted source for laptops. We look forward to serving you and providing the perfect computing solution for your needs.</p>
</main>